<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Prato</title>
</head>
<body>
    <h1>Adicionar Prato</h1>
    <form action="{{ url_for('criar_prato', menu_id=menu_id) }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <a href="{{ url_for('listar_pratos', menu_id=menu_id) }}">Voltar</a>
</body>
</html>
