<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Fazer Reserva</title>
</head>
<body>
    <h1>Fazer Reserva</h1>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <form method="post" action="{{ url_for('reservar_page') }}">
        <label for="mesa_id">Mesa:</label>
        <select name="mesa_id" id="mesa_id">
            {% for mesa in mesas %}
            <option value="{{ mesa._id }}">{{ mesa.identificacao }} - {{ mesa.quantidade_pessoas }} pessoas</option>
            {% endfor %}
        </select>
        <br>
        <label for="data_hora">Data e Hora:</label>
        <input type="datetime-local" id="data_hora" name="data_hora" required>
        <br>

        <h2>Escolha os Pratos:</h2>
        {% for menu in menus %}
        <h3>{{ menu.nome }}</h3>
        <ul>
            {% for prato in pratos %}
            {% if prato.menu_id == menu._id %}
            <li>
                <input type="checkbox" id="prato_{{ prato._id }}" name="prato_id" value="{{ prato._id }}">
                <label for="prato_{{ prato._id }}">{{ prato.nome }} - {{ prato.descricao }} - Preço: {{ prato.preco }}</label>
                <input type="number" id="quantidade_{{ prato._id }}" name="quantidade_{{ prato._id }}" min="1" value="1" required>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}

        <button type="submit">Reservar</button>
    </form>
</body>
</html>
